# Ignore everything in home directory

*

# Except whitelisted dotfiles

!README.md

!.gitconfig
!.gitignore
!.gitignore_global
!.gitconfig.private.example

!.npmrc

!startup.sh

!.programs
!.zshrc
!.hammerspoon
!.hammerspoon/**