# Ignore everything in home directory

*

# Except whitelisted dotfiles

!README.md

!.gitconfig
!.gitignore
!.gitconfig.personal
!.gitconfig.work

!.npmrc

!startup.sh


!programs
!.zshrc
!.hammerspoon
!.hammerspoon/**

!.ssh
!.ssh/**