[merge]
	tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[includeIf "gitdir:~/coding-personal/"]
path = ~/coding-personal/.gitconfig

[includeIf "gitdir:~/coding-work/"]
path = ~/coding-work/.gitconfig

[core]
excludesfile = ~/.gitignore      # valid everywhere