[merge]
	tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[includeIf "gitdir:~/Personal/"]
path = ~/Personal/.gitconfig.personal

[includeIf "gitdir:~/Work/"]
path = ~/Work/.gitconfig.work

[core]
excludesfile = ~/.gitignore      # valid everywhere