# Ignore everything in home directory

*

# Except whitelisted dotfiles

!README.md

!.profile
!.bashrc
!.bash_profile

!.gitconfig
!.gitignore
!.gitignore_global

!.npmrc

!.osx
!.osx_always

!startup.sh

!Solarized-Dark.terminal
!Solarized-Light.terminal
!Inconsolata.otf
!.programs
