[merge]
	tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[includeIf "gitdir:~/coding-personal/"]
path = ~/coding-personal/.gitconfig

[includeIf "gitdir:~/coding-work/"]
path = ~/coding-work/.gitconfig

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[core]
excludesfile = ~/.gitignore      # valid everywhere

[pull]
	rebase = true
